
{{#humans}}

{{name}}
{{age}}

{{#if id}}
<form action="/removehuman/{{id}}" method="post">
  <input type="submit" name="name" value="Delete">
</form>
{{/if}}

{{#if id}}
<form action="/edithuman/{{id}}" method="post">
  <input type="text" name="name" value="{{name}}">
  <input type="number" name="age" value="{{age}}">
  <input type="submit" value="Edit">
</form>
{{/if}}

{{/humans}}

{{#if error}}
<h3 style="color:red;">{{error}}</h3> 
{{/if}}

<h2>Add a Human!</h2>
<form action="/addhuman" method="post">
  <label>Name</label>
  <input type="text" name="name" value="">
  <label>Age</label>
  <input type="number" name="age" value="">
  <input type="submit" value="Submit Human">

</form>
